<form ngForm (submit)="OnLogin($event)" #LoginForm class="form">
  <div class="form-group">
    <label for="id">ID</label>
    <input
      type="text"
      class="form-control"
      id="id"
      name="id"
      ngModel
      placeholder="Enter ID"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      ngModel
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
