<mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title>
      {{ assignmentTransmis.nom }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ assignmentTransmis.dateDeRendu | date : "dd/MM/yyyy" }}
    </mat-card-subtitle>
    <mat-checkbox
      *ngIf="!assignmentTransmis.rendu"
      (click)="onUpdateAssignments(assignmentTransmis)"
    >
      Rendu
    </mat-checkbox>
    <nav>
      <a routerLink="/assignment/{{ assignmentTransmis.id }}/edit">
        <button
          mat-raised-button
          color="primary"
          (click)="onClickEdit()"
          [disabled]="!isAdmin()"
        >
          EDIT
        </button>
      </a>
    </nav>
    <button
      mat-raised-button
      color="warn"
      (click)="onDeleteAssignment(assignmentTransmis)"
      [disabled]="!isAdmin()"
    >
      DELETE
    </button>
  </mat-card-content>
</mat-card>
