<mat-card *ngIf="assignmentTransmis">
  <div class="flex-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ assignmentTransmis.nom }}</mat-card-title>
        <mat-card-subtitle>{{ assignmentTransmis.auteur }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="column">
          <div class="matiere">
            <mat-list>
              <mat-list-item>
                <span class="title">Matiere: </span>
                <span class="matiereValue">
                  {{ getMatiereData(assignmentTransmis.nomMatiere)[0].nom }}
                </span>
              </mat-list-item>

              <mat-list-item>
                <span class="title">Date de rendu: </span>
                <span class="value">{{
                  assignmentTransmis.dateDeRendu | date : "d LLL, yyyy"
                }}</span>
              </mat-list-item>
              <mat-list-item>
                <span class="title">Note: </span>
                <span class="value">{{ assignmentTransmis.note }} /20 </span>
              </mat-list-item>
              <mat-list-item>
                <span class="title">Remarques: </span>
                <span class="value">{{ assignmentTransmis.remarques }}</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="buttons">
            <mat-checkbox
              *ngIf="!assignmentTransmis.rendu"
              (click)="onUpdateAssignments(assignmentTransmis)"
            >
              Rendu
            </mat-checkbox>
            <a>
              <button
                mat-raised-button
                color="primary"
                (click)="onClickEdit()"
                [disabled]="!isLoggedIn"
              >
                EDIT
              </button>
            </a>
            <button
              mat-raised-button
              color="warn"
              (click)="onDeleteAssignment(assignmentTransmis)"
              [disabled]="!isAdmin"
            >
              DELETE
            </button>
          </div>
        </div>
        <div class="column">
          <img
            src="{{
              '../../../assets/imagesMatieres/' +
                getMatiereData(assignmentTransmis.nomMatiere)[0].image
            }}"
            alt="Image de la matiere"
          />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
