<form
  [formGroup]="formGroup"
  (submit)="onSubmit($event); assignmentForm.reset()"
  #assignmentForm
  class="form"
>
  <mat-vertical-stepper
    #linearVerticalStepper="matVerticalStepper"
    formArrayName="formArray"
    [linear]="false"
  >
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Nom de l'assignment</ng-template>
      <mat-form-field>
        <mat-label>Nom du devoir</mat-label>
        <input
          matInput
          placeholder="Nom du devoir"
          name="nom"
          formControlName="nomDevoir"
        />
        <mat-error>Ce champ est obligatoire</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div>Date de rendu</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Date de rendu</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          name="date"
          formControlName="dateDeRendu"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error>Date invalide</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>
        <div>Matiere</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Matiere</mat-label>
        <mat-select name="matiere" formControlName="nomMatiere">
          <mat-option
            *ngFor="let matiere of matieres"
            [value]="matiere.value"
            >{{ matiere.viewValue }}</mat-option
          >
        </mat-select>
        <mat-error>Invalide</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
      <ng-template matStepLabel>Nom de l'auteur</ng-template>
      <mat-form-field>
        <mat-label>Nom de l'auteur</mat-label>
        <input
          matInput
          placeholder="auteur"
          name="nom"
          formControlName="auteur"
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
      <ng-template matStepLabel>
        <div>Rendu</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Rendu</mat-label>
        <mat-select
          name="rendu"
          formControlName="rendu"
          (selectionChange)="updateRendu($event.value)"
        >
          <mat-option value="true">Oui</mat-option>
          <mat-option value="false">Non</mat-option>
        </mat-select>
        <mat-error>Donnée invalide</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step
      formGroupName="5"
      [stepControl]="formArray?.get([5])"
      *ngIf="isRenduTrue()"
    >
      <ng-template matStepLabel>Note</ng-template>
      <input type="number" min="0" max="20" step="1" formControlName="note" />
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step
      formGroupName="6"
      [stepControl]="formArray?.get([6])"
      [optional]="true"
    >
      <ng-template matStepLabel>
        <div>Remarques</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Remarques</mat-label>
        <textarea
          matInput
          name="remarques"
          formControlName="remarques"
        ></textarea>
        <mat-error>Remarques invalides</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Verifier les information</ng-template>
      Tout est en ordre ?
      <div>
        <button mat-button>Ajouter</button>
        <button
          type="button"
          mat-button
          (click)="linearVerticalStepper.reset()"
        >
          Reset
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
