form {
  background-color: #ffffff; /* Dark blue */
  color: #00008b; /* White */
  padding: 20px;
}

mat-form-field {
  padding: 10px;
}
form input,
form button {
  background-color: #ffffff; /* White */
  color: #00008b; /* Dark blue */
  border: 2px solid #40e0d0; /* Turquoise */
  border-radius: 5px;
}

form button {
  background-color: #40e0d0; /* Turquoise */
  color: #ffffff; /* White */
  cursor: pointer;
}

form button:hover {
  background-color: #ffffff; /* White */
  color: #00008b; /* Dark blue */
}
