<h3>Liste des devoirs :</h3>
<ng-template ngIf="isLoggedIn(); else notLogged">
  <mat-list *ngFor="let a of assignments">
    <nav>
      <a routerLink="/assignment/{{ a.id }}">
        {{ a.name }}
        <h3 mat-subheader>{{ a.dateDeRendu | date }}</h3>
        <mat-list-item (click)="assignmentClique(a)">
          <p *ngIf="a.rendu" apprendu>{{ a.name }} was rendu.</p>
          <p *ngIf="!a.rendu" appNonrendu>{{ a.name }}, Has not been rendu.</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </a>
    </nav>
  </mat-list>
</ng-template>
<ng-template #notLogged>
  <mat-list *ngFor="let a of assignments">
    <nav>
      <a>
        {{ a.name }}
        <h3 mat-subheader>{{ a.dateDeRendu | date }}</h3>
        <mat-list-item (click)="assignmentClique(a)">
          <p *ngIf="a.rendu" apprendu>{{ a.name }} was rendu.</p>
          <p *ngIf="!a.rendu" appNonrendu>{{ a.name }}, Has not been rendu.</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </a>
    </nav>
  </mat-list>
</ng-template>
